#anMusic-page
  #anMusicBtnGetSong(title="随机周董单曲，打开异世界的大梦")
    i(class="fas fa-shuffle")
  #anMusicRefreshBtn(title="立即刷新最新歌单")
    i(class="fas fa-rotate")
  #anMusicSwitching(title="切换歌单")
    i(class="fas fa-repeat")
  #anMusic-page-meting